


<div *ngFor="let shipment of data.Shipments" class="flex p-4 m-4 border-purple-900 border ">
  <div class="border-purple-900 border m-1"><</div>
  <div class="border-purple-900 border m-1 flex overflow-x-auto">
    
    <div class="flex items-start" *ngFor="let milestone of shipment.milestones; let i = index">
      <div class="border-purple-900 border m-1">{{milestone|json}}</div>
      <div class="border-purple-900 border m-1" *ngIf="i !== shipment.milestones.length-1 ">...................</div>
    </div>
    
  </div>
  <div class="border-purple-900 border m-1">></div>
  
</div>